.animation-holder {
	width: 300px;
	height: 300px;
	background-size: cover;
	background-image: url('../speaker.png');
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.play_button {
	width: 83px;
	height: 85px;
	background-size: cover;
	background: url('../play.png') transparent no-repeat;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0;
	margin-left: 15px;
	margin-top: -5px;
}

.wave {
	background: pink;
	height: 50px;
}

.animate {
	animation: wave 1s infinite;
}

@keyframes wave {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}