.badum {
	display: flex;
	height: 100vh;
	color: #fff;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
}

.badum h1 {
	text-align: center;
}

.animation-holder {
	width: 300px;
	height: 300px;
	background-size: cover;
	background-image: url('../speaker.png');
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.play_button {
	width: 83px;
	height: 85px;
	background-size: cover;
	background: url('../play.png') transparent no-repeat;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0;
	margin-left: 15px;
	margin-top: -5px;
}

.wave {
	position: absolute;
	top: 0;
	left: 0;
	border: solid pink 1px;
	transform: scale(0);
	border-radius: 50%;
	height: 150px;
	width: 150px;
	opacity: 0;
}

.animate {
	animation: wave 1s;
}

@keyframes wave {
	0%   { 
		opacity: 0; 
		transform: scale(0);
	}
	70% {
		opacity: 1;
	}
	100% { 
		 opacity: 0;
		transform: scale(1);
	}
}